@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
.remove{
  display: none;
}
.remove-show{
  display: flex;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.space-bet {
  justify-content: space-between;
}
.black-theme{
  background: var(--gray-dark-default, #030712);

  .remove{
    display: flex;
  }
  .remove-show{
    display: none;
  }

  .header--theme{
    display: none;
  }
  .header--theme-black{
    display: flex;
  }
  .font-16-gray{
    color: var(--gray-dark-600, #D1D5DB);
  }
  .header--cv-button{
    background: var(--gray-dark-900, #F9FAFB);
    color: var(--gray-dark-50, #111827);
  }
  .top-text--title{
    color: var(--gray-dark-900, #F9FAFB);
  }
  .hero-bg{
    background: var(--gray-dark-200, #374151);
    border: 8px solid var(--gray-dark-default, #030712);
    z-index: 0;
  }
  .heroImg{
    border: 8px solid var(--gray-dark-default, #030712);
    z-index: 1;
  }
  .social-icon{
    background-color: #030712;
  }
  .gray-bg{
    background: var(--gray-dark-50, #111827);
  }
  .category{
    background: var(--gray-dark-200, #374151);
    color: var(--gray-dark-600, #D1D5DB);
  }
  .ab-bg{
    border: 8px solid var(--gray-dark-50, #111827);
    background: var(--gray-dark-200, #374151);
  }
  .ab-img{
    border: 8px solid var(--gray-dark-50, #111827);
  }
  .font-20-gray{
    color: var(--gray-dark-600, #D1D5DB);
  }
  .exInfo{
    background: var(--gray-dark-100, #1F2937);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  }
  .font-black-20{
    color: var(--gray-dark-900, #F9FAFB);
  }
  .work-main--left-side{
    border-right: 1px solid var(--gray-dark-100, #1F2937);
    background: var(--gray-dark-200, #374151);
  }
  .work-main--right-side{
    background: var(--gray-dark-100, #1F2937);
  }
  .link-btn{
    background: var(--gray-dark-100, #1F2937);
  }
  .left-side--header{
    color: var(--gray-dark-900, #F9FAFB);
  }
  .designed{
    background: var(--gray-dark-50, #111827);
    color: var(--gray-dark-600, #D1D5DB);
  }
  .text-color{
    color: white;
  }
  .menu-bg{
    background-color:#030712;
  }
  .hr-color{
    color: #1F2937;
  }
}
.hr-color{
  color: white;
}
.text-color{
  color: black;
}
.menu-bg{
  background-color: white;
}
.gap-e{
  gap: 80px;
}
.gap-16 {
  gap: 16px;
}
.gap-48 {
  gap: 48px;
}
.gap-8 {
  gap: 8px;
}
.gap-30 {
  gap: 30px;
}
.mar-r-8 {
  margin-right: 8px;
}
.align-center {
  align-items: center;
}
.just-center{
  align-items: start;
}
.center {
  display: flex;
  justify-content: center;
  align-self: center;
}
.body {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container {
  max-width: 1280px;
}
.hero--left-side {
  flex-direction: column;
  max-width: 768px;
}
.hero--right-side {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  position: relative;
}
.heroImg {
  width: 280px;
  height: 320px;
  border: 8px solid var(--gray-default, #fff);
}
.hero-bg {
  width: 280px;
  height: 320px;
  flex-shrink: 0;
  border: 8px solid var(--gray-default, #fff);
  background: var(--gray-200, #e5e7eb);
  position: absolute;
  z-index: -1;
  left: 50px;
  top: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 80px;
}

.header--list-container {
  display: flex;
  gap: 24px;
}

.header--context {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.header--list-container li {
  list-style: none;
}

.header--theme {
  padding: 6px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
}

.header--theme-black{
  padding: 6px;
  margin-right: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--gray-dark-default, #030712);
}

.header--cv-button {
  color: white;
  padding: 6px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: none;
  background: var(--gray-900, #111827);
  font-size: 16px;
}

.top-text--title {
  color: var(--gray-900, #111827);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.2px;
}
.top-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.font-16-gray {
  color: var(--gray-600, #4b5563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.social-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
}
.font-20-gray {
  color: var(--gray-600, #4b5563);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.category {
  padding: 4px 20px;
  background-color: #e5e7eb;
  font-size: 14px;
  color: var(--gray-600, #4b5563);
  border-radius: 12px;
  width: fit-content;
}

.ab {
  display: flex;
  gap: 48px;
}

.ab--left-side {
  width: 50%;
  position: relative;
}

.left-side--header {
  color: var(--gray-900, #111827);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.6px;
}
.font-black-20 {
  color: var(--gray-900, #111827);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.ab--right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ab-img {
  width: 400px;
  height: 480px;
  border: 8px solid var(--gray-50, #f9fafb);
  z-index: 1;
}
.mw-576{
  max-width: 576px;
}
.gray-bg {
  background: var(--gray-50, #f9fafb);
}
.ab-bg {
  width: 400px;
  height: 480px;
  flex-shrink: 0;
  border: 8px solid var(--gray-50, #f9fafb);
  background: var(--gray-200, #e5e7eb);
  position: absolute;
  top: 40px;
  left: 0;
}
.icon-text {
  color: var(--gray-600, #4b5563);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.pad-96-80 {
  padding: 96px 80px;
}

.exInfo {
  max-width: 896px;
  padding: 32px;
  border-radius: 12px;
  background: var(--gray-default, #fff);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06),
    0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}
.work-main{
  border-radius: 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}

.work-main--left-side {
  width: 50%;
  padding: 48px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 12px 0px 0px 12px;
  border-right: 1px solid var(--gray-100, #F3F4F6);
}
.work-img{
  max-height: 384px;
  width: 460px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.20);
}
.work-main--right-side {
  width: 50%;
  padding: 48px;
  gap: 24px;
  border-radius: 0 12px 12px 0;
}
.link-btn {
  border: none;
  width: fit-content;
  background-color: white;
}

.upwork-img{
  max-width: 102px;
  max-height: 58px;
}

.designed{
  padding: 24px 80px;
  align-self: stretch;
  background: var(--gray-50, #F9FAFB);
}

